*{
    margin: 30px;
}
body{
    background-color: rgb(29, 149, 137);
}
h1{
    color: aliceblue;
}
h2{
    color: aliceblue;
}
p{
    color: aliceblue;
}
table{
    color: aliceblue;
}